html, body{
    background-color: seagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98%;
    margin: 1px;
    padding: 1px; 

    font-family: 'Roboto', sans-serif;
}
.profile{
    border-radius: 50%;

}
.background{
    background-color: rgb(218, 158, 47);
    max-width: 90%;
    display: flex;
    flex-direction: row;
    height: 90%;
}

.left, .right{
    background-color: rgb(70, 70, 161);
    margin: 10px;
    max-width: 85%;
    flex: 1;
}

.left {
    align-items: center;
    justify-content: center;
}

.intro{
    font-family: 'Open Sans', sans-serif;
}

.links{
    display:inline-block;
    margin-left: 10px;
}

.body{
    /*fading effect*/
    background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgb(3, 102, 129) 100%);
}